<mat-toolbar class="mat-elevation-z4" color="primary">

  <button mat-button routerLink="/">
      {{title}}</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <a mat-button href="https://github.com/Buh-Buh-Buh/buh-buh-buh.github.io">Github</a>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item href="https://github.com/Buh-Buh-Buh/buh-buh-buh.github.io">Github</button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>
<router-outlet></router-outlet>
