mat-card {
  margin: 20px;
  width: 80%;
  @media only screen and (min-width: 992px) {
    width: 60%;
  }
}

.info-card {
  max-width: 720px;
}

.infographic-container {
  max-width: 100%;

  >.infographic {
    object-fit: contain;
    max-width: 100%;
  }
}

.main mat-card-content {
  font-size: 1rem;
  line-height: 1.5;
}

.bib {
  list-style-type: none;

}

.bib li {
  --indent: 2em;
  padding-left: var(--indent);
  text-indent: calc(-1*var(--indent));
}

.mt-2 {
  margin-top: 2em !important;
}
